* { 
    box-sizing: border-box;
}

:root {
    --text: #e1fbf8;
    --background: #010a09;
    --primary: #8cefeb;
    --secondary: #55148f;
    --accent: #e22dd0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    min-width: 800px;
}

header {
    background: var(--primary);
    color: var(--text);
    text-align: center;
}

header a {
    text-decoration: none;
}

header a:link {
    color: var(--text);
}

header a:visited {
    color: var(--text);
}

header a:hover {
    color: var(--accent);
}

nav {
    background-color: var(--secondary);
    font-family: monospace;
    padding: 1em;
    font-size: 120%;
    text-align: center;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: var(--accent);
}

nav a:visited {
    color: var(--background);
}

nav a:hover {
    color: var(--text);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

main {
    background: var(--background);
    padding: 0px 20px 20px 20px;
    display: block;
    overflow: scroll;
    border: 1px var(--accent) solid;
}

main a {
    text-decoration: none;
    font-family: monospace;
    text-transform: uppercase;
    font-size: large;
}

main a:link {
    color: var(--accent);
}

main a:visited {
    color: var(--secondary);
    text-decoration: none;
}

main a:hover {
    color: var(--text);
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 400%;
    text-align: left;
}

h2 {
    color: var(--secondary);
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

h3 {
    color: var(--accent);
    font-family: monospace;
    font-weight: lighter;
}

hr {
    color: var(--accent);
    border: 1px dotted;
}

footer {
    background: var(--primary);
    color: var(--background);
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#rightcol {
    background: var(--background);
    padding: 0px 20px 20px 20px;
    display: block;
    overflow: scroll;
    border: 1px var(--accent) solid;
    border-left: none;
}

#rightcol p {
    font-size: small;
}

#rightcol b {
    color: var(--accent);
}

#rightcol em {
    color: var(--primary);
}

.centeredimg {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#bottomrow {
    background: var(--background);
    padding: 0px 20px 20px 20px;
    display: block;
    overflow: scroll;
    border: 1px var(--accent) solid;
    border-top: none;
}

#bottomrow a {
    text-decoration: none;
    font-family: monospace;
    text-transform: uppercase;
    font-size: large;
}

#bottomrow a:link {
    color: var(--accent);
}

#bottomrow a:visited {
    color: var(--secondary);
    text-decoration: none;
}

#bottomrow a:hover {
    color: var(--text);
}

form {
    display: grid;
    grid-template-columns: 6em 1fr;
    gap: 1em;
    width: 100%;
    
}

input[type="submit"]  {
    grid-column: 2 / 3;
    width: 15em;
}

table {
    border: 1px var(--accent) solid;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.5em;
    border: 1px var(--accent) solid;
}

td {
    text-align: center;
}

video {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.videoL {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.videoR {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

blockquote {
    background-color: var(--secondary);
    padding: 1em;
    font-style: italic;
    color: var(--primary);
    border-left: 8px var(--accent) solid;
    margin: auto;
    margin-bottom: 1em;
}

.otherAlbums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.otherAlbums p {
    border: 1px var(--primary) solid;
    padding: 0.5em;
    margin: 0.5em;
}

@supports (display: grid) {
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    .rightcol {
        grid-area: rightcol;
    }
    main {
        grid-area: main;
    }
    #bottomrow {
        grid-area: bottomrow;
    }
    footer {
        grid-area: footer;
    }
    #wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto 400px 400px auto;
        grid-template-areas:
                            "header header"
                            "nav    nav"
                            "main   rightcol"
                            "bottomrow   bottomrow"
                            "footer footer";
    }
  }
